<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Newz Article</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<link rel="shortcut icon" type="image/icon" href="/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/subscribe.js}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		body{
		    background-color: #f2f2f2;
		}
		.bg-style{
		    background-color: white;
		}
	</style>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img alt="icon" style="width: 26px" th:src="@{/img/icon.png}" /> Newz Article
		</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	    	  	<li class="nav-item active">
	        		<a class="nav-link" th:href="@{/}">Home</a>
		      	</li>
  		        <li class="nav-item active">
	        		<a class="nav-link" th:href="@{/about}">About</a>
	   	       	</li>
	      		<li class="nav-item active">
	        		<a class="nav-link" th:href="@{/contact}">Contact us</a>
		      	</li>
		      	<li class="nav-item active">
		        	<a class="nav-link" th:href="@{/service}">Service</a>
		      	</li>
	    	</ul>
		</div>
	</nav>

    <div class="container-md pt-2">
    	<div class="row">
    		<div class="col-lg-9 p-2" th:include="${content}">
    		</div>
    		<div class="col-lg-3 p-2">
    			<div class="bg-style pt-2 pb-2 pl-3 pr-3">
    				<h6>Search</h6>
    				<input onkeyup="search()" id="search" class="form-control" placeholder="Search article..." />
    				<div style="position: relative;">
    					<div class="bg-light" style="border: 1px solid gray;border-radius: 2px; position: absolute; width: 100%;display: none;" id="display-search">
	    				</div>
    				</div>
    			</div>
    			<div class="bg-style mt-2 pt-2 pb-2 pl-3 pr-3">
    				<h6>Most Viewed Article</h6>
    				<div th:each="articleV : ${viewList}" class="mt-2 pl-2 pr-2">
    					<a style="display: block; text-decoration: none;" th:href="@{|/article/${articleV.id}}">
    						<img alt="image" class="img-fluid" th:src="@{|/img/article/${articleV.imagePath}}" />
    						<label class="font-weight-bold text-dark" th:text="${articleV.articleName}"></label>
    					</a>
    				</div>
    			</div>
    			<div class="bg-style mt-2 pt-2 pb-2 pl-3 pr-3">
    				<h6>Subscribe</h6>
    				<form id="subscriberForm">
    					<input type="email" class="form-control" id="email" name="email"  placeholder="Enter your email" required="required" />
    					<div class="text-center mt-2">
    						<button type="submit" class="btn btn-sm btn-primary">Submit</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
    
    <footer class="text-center text-warning bg-dark p-1">
    	<p>All rights reserved &copy;Newz Article <br> Design by Chetan Gupta</p>
    </footer>
    
</body>
</html>