<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base :: layout(~{::section})}">
<head>
    <title>Add Article</title>
</head>
<body>
	<section>
	    <div class="container-md mt-2 mb-4">
	    	<h1 class="text-center">Add Article</h1>
	    	<div class="text-center"><small id="status" style="display:none;"></small></div>
	    	<div class="row">
	    		<div class="col-md-10 offset-md-1">
					<form id="addArticleForm">
					  	<div class="form-group">
						    <label for="articleName">Article Name <span class="text-danger">*</span></label>
						    <input type="text" class="form-control" id="articleName" name="articleName" required="required" placeholder="Topic: Java SE Development Kit 17"/>
					  	</div>
					  	<div class="form-group">
						    <label for="articleAuthor">Article Author <span class="text-danger">*</span></label>
						    <input type="text" class="form-control" id="articleAuthor" name="articleAuthor" required="required" placeholder="John Smith"/>
					  	</div>
					  	<div class="form-group">
						    <label for="content">Content <span class="text-danger">*</span></label>
						    <textarea class="form-control" id="content" name="content" placeholder="Enter content here"></textarea>
					  	</div>
					  	<div class="form-group">
						    <label for="tags">Tag <small class="text-danger">use ( , ) for separate</small></label>
						    <textarea class="form-control" style="resize: none;" rows="5" id="tags" name="tags" placeholder="For ex: java,spring boot"></textarea>
					  	</div>
					  	<div class="form-group">
						    <label for="image">Article Thumbnail <span class="text-danger">*</span></label> &nbsp;
						    <input type="file" id="image" name="image" required="required"/>
					  	</div>
					  	<div>
						    <input type="checkbox" id="active" name="actives" /> 
						    <label for="active">Keep private</label>
					  	</div>
						<div class="text-center mb-3">
							<button class="btn btn-primary" type="submit">Add Article</button>
						</div>
					</form>
				</div>
	    	</div>
	    </div>
		<script src="https://cdn.tiny.cloud/1/m9kyy1trys005on5eqy8lf832dg4zf7fvjonfudgx7tikqb8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
	    	tinymce.init({
		        selector: '#content'
		    });
	    </script>
	    <script th:src="@{/js/addArticle.js}"></script>
	</section>
</body>
</html>